.input-todo-container {
  position: relative;
  z-index: 999;
}
.form-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid #dedede;
  border-radius: 6px;

  & > input::placeholder {
    color: #dedede;
  }

  &:hover {
    padding: 13px 14px;
    border-width: 3px;
  }

  &:focus-within {
    padding: 15px 16px;
    border: 1px solid #9f9f9f;
    color: black;
  }
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: calc(100% - 20px);
  padding: 0 10px;
  border-radius: calc(0.5 * 100px);
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-submit {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.input-text,
.input-submit {
  outline: none;
  border: none;
}
